{% load astrobin_apps_donations_tags %}
{% load i18n %}
{% load dfp_tags %}

{% if ADS_ENABLED and not request.user|is_donor %}
    <div class="subtle-container simple-container advertisement advertisement-frontpage">
        <div class="header">
            <h4><i class="icon-bullhorn"></i></h4>

            {% if request.user.is_authenticated and DONATIONS_ENABLED %}
                <a class="remove" data-toggle="modal" href="#remove-ads-modal">
                    <i class="icon-remove"></i>
                </a>
            {% endif %}
        </div>

        {% dfp_tag '47890729/front-page' 220 135 brands='' %}
    </div>
{% endif %}

