<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
        {% include 'image/detail/menu/actions.html' %}
        {% include 'image/detail/menu/view.html' %}
        {% include 'image/detail/menu/user.html' %}
        {% include 'image/detail/menu/share.html' %}
    </ul> <!-- nav -->
</div> <!-- subnav -->

